.instalacao-badge {
  background: #ccc;
  color: #000;
}

.star-me {
  border-width: 3px;
  border-style: dotted;
  border-color: #fff;
  border-radius: 7.5px;

  text-align: center;

  padding: 10px 10px;
}