.ideia {
  width: 100%;

  color: #000;
  background: #ccc;

  border-left: solid 10px #000;
  padding: 10px 15px;
}

.anchor-ref {
  text-decoration: none;
  color: yellow;
  margin-right: 10px;
  font-weight: 100;
  opacity: 0.5;
}
.anchor-ref:hover {
  opacity: 1;
}

.instalacao-badge {
  background: #ccc;
  color: #000;
}

.star-me {
  border-width: 3px;
  border-style: dotted;
  border-color: #fff;
  border-radius: 7.5px;

  text-align: center;

  padding: 10px 10px;
}